body {
  max-width: 60vw;
  margin: 0 auto;
}
header {
  background: #333;
  height: 5vw;
  color: #fff;
}
main{
  background-color: #D8D8D8;
}
footer {
  background: #888;
  height: 10vw;
}
header a {
  color: #FFF;
  text-decoration: none;
}
main a {
  color: #54218B;
  text-decoration: none;
}